---
title: Index Page
---
extends layouts/_layout
block content
  include ./home/_intro
  include ./home/_sanatoriums
  include ./home/_natural-factors
  include ./home/_video
  //- include ./home/_
  //- include ./home/_
  //- include ./home/_