---
title: Index Page
---
extends layouts/_layout
block content
  include ./home/_intro
  include ./home/_resort-sanatoriums
  include ./home/_natural-factors
  include ./home/_video
  include ./home/_medical-profiles
  include ./home/_sanatoriums
  include ./home/_calculator
  include ./home/_special-offers
  include ./home/_water
  include ./home/_clay
  include ./home/_gallery
  include ./home/_reply
  include ./home/_ulyanovsk
  include ./home/_healthy-children
  include ./home/_reviews
  //- include ./home/_
  include ./home/_contracts
  include ./home/_contacts
  include ./home/_reservation
  include ./home/_honors
  include ./home/_directors
  include ./home/_shares
  include ./home/_comments
  //- include ./home/_
  //- include ./home/_
  include ./home/_license
  include ./home/_room
  //- include ./home/_