@font-face {
  font-family: 'Anglecia Pro Title';
  src: url('../fonts/AngleciaProTitle-Medium.woff2') format('woff2'),
      url('../fonts/AngleciaProTitle-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Anglecia Pro Title';
  src: url('../fonts/AngleciaProTitle.woff2') format('woff2'),
      url('../fonts/AngleciaProTitle.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anglecia Pro Title';
  src: url('../fonts/AngleciaProTitle-Bold.woff2') format('woff2'),
      url('../fonts/AngleciaProTitle-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Anglecia Pro Title';
  src: url('../fonts/AngleciaProTitle-Light.woff2') format('woff2'),
      url('../fonts/AngleciaProTitle-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}








@font-face {
  font-family: 'Anglecia Pro Text';
  src: url('../fonts/AngleciaProText-Bold.woff2') format('woff2'),
      url('../fonts/AngleciaProText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Anglecia Pro Text';
  src: url('../fonts/AngleciaProText-Light.woff2') format('woff2'),
      url('../fonts/AngleciaProText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Anglecia Pro Text';
  src: url('../fonts/AngleciaProText-Medium.woff2') format('woff2'),
      url('../fonts/AngleciaProText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Anglecia Pro Text';
  src: url('../fonts/AngleciaProText.woff2') format('woff2'),
      url('../fonts/AngleciaProText.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}









@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

