//BEGIN header
header.header
  .header__toolbar
    a(href="#") Русский
      img(src="http://via.placeholder.com/20x16")
    a(href="#") Войти
      i.icon.icon-person
  .header__scroll
    .row.middle-xs
      .col-md-4.col-xs-5
        .header__scroll__block
          .menu-open
            span
          a(href="#") Забронировать
          i.icon.icon-ring
          p Санаторий имени В. И. Ленина
      .col-md-4.col-xs-2.center-xs
        a(href="#").header__scroll__logo
          img(src="img/logo-smal.svg")
      .col-md-4.col-sm-5.end-xs
        a(href="tel:88007074105").phone 8 (800) 707-41-05
  .header__top
    .menu-open
      span
    nav
      ul.scroll
        li
          a(href="#step" data-pop) Лечение
        li
          a(href="#pop-question" data-pop) Санатории
        li
          a(href="#pop-application" data-pop) Уникальность
        li
          a(href="#pop-gallery" data-pop) Досуг
        li
          a(href="#pop-rooms" data-pop) Дома отдыха
        li
          a(href="#room") Цены
        li
          a(href="#") Забронировать
          i.icon.icon-ring
    a(href="tel:88007074105").phone-white 8 (800) 707-41-05
//END header
