.menu
  .menu__content
    .menu-close
      span
    .menu__block.menu__block__tel
      a(href="tel:88007074105") 8 (800) 707-41-05
    .menu__block
      h4 
        a(href="#") О курорте
        i.icon.icon-left-arrow
      ul
        li
          a(href="#") История
        li
          a(href="#") Руководство
        li
          a(href="#") Полезная информация
        li
          a(href="#") Фотогалерея
        li
          a(href="#") Награды
        li
          a(href="#") Отзывы
        li
          a(href="#") Молочный Цех
        li
          a(href="#") Участки ИЖС
    .menu__block
      h4
        a(href="#") Санатории
        i.icon.icon-left-arrow
      ul
        li
          a(href="#") Имени Ленина
        li
          a(href="#") Дубки
        li
          a(href="#") Прибрежный
        li
          a(href="#") Белый Яр
      h4 
        a(href="#") Базы отдыха
        i.icon.icon-left-arrow
      ul
        li
          a(href="#") Кепинг «Чайка»
        li
          a(href="#") Прибрежный
        li
          a(href="#") Белый Яр
        li
          a(href="#") Слава Черноморья
        li
          a(href="#") Лагерь «Сосенка»
    .menu__block
      h4 
        a(href="#") Лечение
        i.icon.icon-left-arrow
      ul
        li
          a(href="#") Профили 
        li
          a(href="#") Методики
        li
          a(href="#") Особенности
      h4 
        a(href="#") Досуг
        i.icon.icon-left-arrow
      ul
        li
          a(href="#") Анимация
        li
          a(href="#") Экскурсии
        li
          a(href="#") Конюшня
        li
          a(href="#") Рыбалка
        li
          a(href="#" ) Горные лыжи
    .menu__block
      h4
        a(href="#") Контакты
      h4
        a(href="#") Цены
      h4
        a(href="#") Блог
        i.icon.icon-left-arrow
      ul
        li
          a(href="#") Акции
        li
          a(href="#") Новости
        li
          a(href="#") Статьи
    .menu__search
      input(type="text" placeholder="Поиск по сайту")
      i.icon.icon-search


.modal.step.step-1#step
  .modal__content
    .step__block
      .heading
        h2 Оставьте свой отзыв
        p Нам важно, что Вы думаете о санаториях и обслуживании.
      form(action="").form
        textarea(placeholder="Ваш отзыв")
        a(href="#step-1" data-pop).btn.btn-sandy Отправить


.modal.step.step-2#step-1
  .modal__content
    .step__block
      .heading
        h2 Где Вы отдыхали?
        p Выберите санаторий или дом отдыха, а также время отдыха.
      form(action="").form
        .form__block
          .form__select
            i
            p
            select(name="day")
              option(value="1") Имени В.И.Ленина
              option(value="2") Дубки
              option(value="3") Прибрежный
            span Где отдыхали?
          .form__select
            i
            p
            select(name="day")
              option(value="1") Август
              option(value="2") Июнь
            span В каком месяце?
          .form__select
            i
            p
            select(name="day")
              option(value="1") 2017
              option(value="2") 2016
            span Год отдыха
        a(href="#step-2" data-pop).btn.btn-sandy Отправить


.modal.step.step-3#step-2
  .modal__content
    .step__block
      .heading
        h2 И последний вопрос
        p Мы будем рады, если Вы представитесь.
      form(action="").form
        textarea(placeholder="Ваш отзыв")
        a(href="#").btn.btn-sandy.next Отправить