.contracts
  padding: 100px 0
  background: $very-light-pink
  .heading
    margin-bottom: 70px
  &__block
    +center-column
    margin-bottom: 20px
    &:hover
      .contracts__block__text
        p
          color: darken($mud-brown, 20%)
      .contracts__block__img
        i
          color: darken($beige, 20%)
    &__img
      width: 100px
      height: 140px
      +center-column
      margin-bottom: 20px
      position: relative
      i
        position: absolute
        font-size: 140px
        top: 0
        color: $beige
        transition: all 0.3s
      p
        font-family: 'Anglecia Pro Title'
        font-size: 24px
        font-weight: 500
        text-align: center
        color: $mud-brown
        margin-top: 20px
      span
        font-family: 'SF Pro Display'
        font-size: 16px
        font-weight: 300
        line-height: 1.25
        color: $dark-khaki
    &__text
      p
        font-family: 'Anglecia Pro Title'
        font-size: 24px
        font-weight: 500
        line-height: 1.25
        color: $mud-brown
        max-width: 240px
        text-align: center
        transition: all 0.3s
        +r(767)
          font-size: 18px