.sanatoriums
  padding: 60px 0 30px
  .heading
    margin-bottom: 80px
  &__img
    width: 260px
    height: 260px
    background: #f6efe5
    border-radius: 50%
  h4
    font-family: 'Anglecia Pro Title'
    font-size: 30px
    font-weight: 500
    line-height: 1.33
    color: $mud-brown
    margin-bottom: 10px
  p
    font-size: 24px
    font-weight: 300
    line-height: 1.25
    color: $mud