.special-offers
  padding: 70px 0
  .container
    position: relative
  .swiper
    position: relative
    margin-top: 70px
    &-container
      +r(1180)
        width: 91%
    .swiper-special-offers-next, .swiper-special-offers-prev
      +r(1024)
        display: flex
      i
        color: $sandy
    .swiper-button-next
      right: -100px
      +r(1180)
        right: 0px
        justify-content: flex-end
        i
          font-size: 40px
    .swiper-button-prev
      left: -100px
      +r(1180)
        left: 0px
        i
          font-size: 40px
  &__block
    position: relative
    transition: all 0.3s
    box-shadow: 0 10px 20px 0 rgba(66, 42, 25, 0.15)
    border: 4px solid $white
    height: 270px
    overflow: hidden
    margin-bottom: 30px
    &:hover
      border: 4px solid $sandy
      a.img
        visibility: hidden
        opacity: 0
      a.btn
        opacity: 1
    img
      width: 100%
      +r(1024)
        width: auto
        height: 100%
      +r(767)
        width: 100%
        height: auto
      +r(500)
        width: auto
        height: 100%
    a.img
      position: absolute
      left: 0
      top: 0
      +center-column
      width: 100%
      height: 100%
      background-color: rgba(244, 224, 122, 0.9)
      transition: all 0.3s
      img
        width: auto
        +r(1024)
          height: auto
      h4
        font-family: 'Anglecia Pro Title'
        font-size: 24px
        font-weight: 500
        line-height: 1.25
        text-align: center
        color: $mud-brown
        margin-bottom: 20px
        +r(767)
          font-size: 18px
      p
        font-family: 'SF Pro Display'
        font-size: 16px
        line-height: 1.25
        text-align: center
        color: $mud-brown
        margin-top: 20px
        max-width: 320px
        +r(767)
          font-size: 14px
    a.btn
      opacity: 0
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)