@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-fb: "\EA01";
$icon-instagram: "\EA02";
$icon-left-arrow: "\EA03";
$icon-logo-author: "\EA04";
$icon-ok: "\EA05";
$icon-person: "\EA06";
$icon-play: "\EA07";
$icon-right-arrow: "\EA08";
$icon-ring: "\EA09";
$icon-search: "\EA0A";
$icon-vk: "\EA0B";
$icon-yt: "\EA0C";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-fb:before { content: $icon-fb; }
.icon-instagram:before { content: $icon-instagram; }
.icon-left-arrow:before { content: $icon-left-arrow; }
.icon-logo-author:before { content: $icon-logo-author; }
.icon-ok:before { content: $icon-ok; }
.icon-person:before { content: $icon-person; }
.icon-play:before { content: $icon-play; }
.icon-right-arrow:before { content: $icon-right-arrow; }
.icon-ring:before { content: $icon-ring; }
.icon-search:before { content: $icon-search; }
.icon-vk:before { content: $icon-vk; }
.icon-yt:before { content: $icon-yt; }
