.icon-button-inline {
  width: 5.46em;
  height: 1em;
  fill: initial;
}
.icon-button {
  width: 5.46em;
  height: 1em;
  fill: initial;
}
.icon-combined-shape {
  width: 1.5em;
  height: 1em;
  fill: #DEC486;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo-author {
  width: 1.86em;
  height: 1em;
  fill: #757575;
}
.icon-ok {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-person {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-right-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ring {
  width: 1.13em;
  height: 1em;
  fill: #483711;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-yt {
  width: 1em;
  height: 1em;
  fill: initial;
}
