.bg-line.bg-line--clay
section.clay
  .container
    .row
      .col-sm-4
        .clay__img
          img(src="img/rock.png", alt="")
        a(href="#").clay__video
          img(src="http://via.placeholder.com/70x40", alt="")
          span Посмотрите видео
      .col-sm-8.col-xs-12
        .heading
          h2 Лечебная глина
          p Единственные в России по своему минеральному составу источники лечебной минеральной воды. По своему составу похоже на Карловы Вары в Чехии. 
        .row
          .col-sm-6.col-xs-12
            .clay__block
              img(src="img/medical-profiles/endocrinolog.svg")
              p Заболевания нервных систем
          .col-sm-6.col-xs-12
            .clay__block
              img(src="img/medical-profiles/koja.svg")
              p Заболевания кожи, аллергозы, псориаз
          .col-sm-6.col-xs-12
            .clay__block
              img(src="img/medical-profiles/legkie.svg")
              p Болезни органов дыхания
          .col-sm-6.col-xs-12
            .clay__block
              img(src="img/medical-profiles/serdce.svg")
              p Заболевания сердечно-сосудистой системы
        +btn-sandy('Обмазаться глиной')(class="btn-sandy") Обмазаться глиной
        ul
          li
            a(href="#") Все направления лечения
          li
            a(href="#") Особенности воды
          li
            a(href="#") Врачи и методики