section.comments
  .container
    .comments__review
      .row
        .col-xs-2
          .comments__img
            img(src="img/user.png", alt="")
        .col-xs-8
          .comments__review
            h4 Косарева Мария Васильевна
            span 3 августа 2017, отдыхала в санатории им. В.И.Ленина
            p Хотелось бы отметить коллектив санатория Дубки и кемпинга Чайка. Внимательная охрана, официанты в столовой не грубят, не хамят, культурно разговаривают, предлагают несколько блюд на выбор. Администрация доброжелательная, внимательно выслушивают и прислушиваются к вопросам и пожеланиям отдыхающих. Приедеm к вам в следующий раз.
        .col-xs-2
    .comments__answer
      .row
        .col-xs-2
        .col-xs-8
          h4 Ответ
          p Мария, спасибо вам за Ваш отзыв. Нам очень жаль, что молодой персонал плохо выполняет свою работу. Об этом доложено главврачу санатория. Мы учтем ваши замечания и постораемся улучшить Ваше пребывание в санатории. Обязательно ждем Вас снова!
        .col-xs-2
          .comments__img
            img(src="img/user.png", alt="")
            