section.contacts
  .container
    .contacts__map
      iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d296509.2997306756!2d48.480787142831524!3d54.50741503059747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1529504265391" frameborder="0" style="border:0" allowfullscreen)
    .contacts__info
      .contacts__content
        .contacts__line
          span Адрес:
          p Ульяновская обл., Ульяновский р-н, с. Ундоры
        .contacts__line
          span Телефон:
          a(href="tel:88425461764") 8 (84254) 6-17-64
        .contacts__line
          span Факс:
          a(href="tel:88425461733") 8 (84254) 6-17-33
        .contacts__line
          span Автобус:
          p От автовокзала г. Ульяновска до сан. им. В.И. Ленина Время: 06-30; 12-12; 15-25.
        .contacts__line
          span Маршрутка:
          p №111 от парка Победы каждые 30 минут.
          