section.contracts
  .container
    .row
      .col-xs-12
        .heading
          h2 Договоры
          p Перечень необходимых для изучения документов, правила заявления и условия пребывания в наших санаториях.
  .container-fluid
    .row
      .col-sm-3.col-xs-6
        a(href="#").contracts__block
          .contracts__block__img
            p PDF
            span 35 КБ 
          .contracts__block__text 
            p Договор комиссии
      .col-sm-3.col-xs-6
        a(href="#").contracts__block
          .contracts__block__img
            p PDF
            span 35 КБ 
          .contracts__block__text 
            p Оказание платных услуг
      .col-sm-3.col-xs-6
        a(href="#").contracts__block
          .contracts__block__img
            p PDF
            span 35 КБ 
          .contracts__block__text 
            p Страховым компаниям
      .col-sm-3.col-xs-6
        a(href="#").contracts__block
          .contracts__block__img
            p PDF
            span 35 КБ 
          .contracts__block__text 
            p Юридическим лицам