section.directors
  .container
    .row
      .col-xs-12
        .heading
          h2 Совет директоров
          p Наша компания ежегодно получает множество наград за развитие санаторно-курортных услуг в России.
  .container-fluid
    .row.center-xs
      .col-xs-3
        .directors__block
          .directors__block__img
            img(src="img/user.png", alt="")
          h3 Дунаев Андрей Федорович
          p Председатель Совета директоров АО «Ульяновсккурорт»
      .col-xs-3
        .directors__block
          .directors__block__img
            img(src="img/user.png", alt="")
          h3 Дунаев Ростислав Андреевич
          p И.о. генерального директора АО «Ульяновсккурорт»
    .row.center-xs
      .col-xs-3
        .directors__block
          .directors__block__img
            img(src="img/user.png", alt="")
          h3 Седова Татьяна Валентиновна
          p Главный бухгалтер АО «Ульяновсккурорт»
          a(href="tel:+78425461756") +7 (84254) 6-17-56
      .col-xs-3
        .directors__block
          .directors__block__img
            img(src="img/user.png", alt="")
          h3 Безбородова Наталья Алексеевна
          p Главный бухгалтер АО «Симбирские курорты»
          a(href="tel:+78425461756") +7 (84254) 6-17-56
      .col-xs-3
        .directors__block
          .directors__block__img
            img(src="img/user.png", alt="")
          h3 Кудашова Елена Петровна
          p Начальник юридического <br>отдела
          a(href="tel:+78425461855") +7 (84254) 6-18-55
      .col-xs-3
        .directors__block
          .directors__block__img
            img(src="img/user.png", alt="")
          h3 Ревчук Лилиана Степановна
          p Заместитель генерального директора по лечебной работе
          a(href="tel:+78425461855") +7 (84254) 6-18-55