section.gallery
  .swiper-container.swiper-gallery
    .swiper-wrapper
      .swiper-slide
        img(src="img/jessica-ruscello-120993.png")
        p Закат на пляже санатория Дубки
      .swiper-slide
        img(src="img/jessica-ruscello-120993.png")
        p Закат на пляже санатория Дубки
      .swiper-slide
        img(src="img/jessica-ruscello-120993.png")
        p Закат на пляже санатория Дубки
    .swiper-pagination.swiper-gallery-pagination
  .swiper-button-next.swiper-gallery-next
    i.icon.icon-right-arrow
  .swiper-button-prev.swiper-gallery-prev
    i.icon.icon-left-arrow