section.healthy-children
  .healthy-children__content
    h2 Здоровые дети
    p Детский лечебно-оздоровительный лагерь «Сосенка» находится в наиболее благоприятных экологических условиях. Самой природой созданы все условия для успешного лечения заболеваний, оздоровления и отдыха. В ухоженном и освоенном для детского лагеря лесном массиве на берегу реки Волга дети прекрасно проведут время.
    +btn-sandy('Узнать про лагерь')(class="btn-white")