section.history
  .container
    .history__content
      .history__decor
        i.history__decor-1
        i.history__decor-2
      .row
        .col-sm-5.col-xs-12.first-sm
          h4.history__text-primary 130-150 млн лет назад
          p На территории Ундор были мелководные моря. Останки их обитателей со временем сформировали благоприятную минералогическую основу для курорнной зоны.
        .col-sm-5.col-xs-12.col-sm-offset-2.center-xs.first-xs
          .history__img.history__img-primary
            img(src="img/history/history-1.png" srcset="img/history/history-1@2x.png 2x, img/history/history-1@3x.png 3x")
          .history__img__decor.history__img__decor-secondary
      .row
        .col-sm-5.col-xs-12.center-xs
          .history__img
            img(src="img/history/history-2.png" srcset="img/history/history-2@2x.png 2x, img/history/history-2@3x.png 3x")
          .history__img__decor
        .col-sm-5.col-xs-12.col-sm-offset-2
          h4 Древние племена
          p Тюрские народы заселяют территорию ульяновской области. Они называют эту территорию «Ун Дару» — десять лекарств, десять целебных факторов и средств.
      .row
        .col-sm-5.col-xs-12.first-sm
          h4.history__text-primary 130-150 млн лет назад
          p На территории Ундор были мелководные моря. Останки их обитателей со временем сформировали благоприятную минералогическую основу для курорнной зоны.
        .col-sm-5.col-xs-12.col-sm-offset-2.center-xs.first-xs
          .history__img.history__img-primary
            img(src="img/history/history-1.png" srcset="img/history/history-1@2x.png 2x, img/history/history-1@3x.png 3x")
          .history__img__decor.history__img__decor-secondary
      .row
        .col-sm-5.col-xs-12.center-xs
          .history__img
            img(src="img/history/history-2.png" srcset="img/history/history-2@2x.png 2x, img/history/history-2@3x.png 3x")
          .history__img__decor
        .col-sm-5.col-xs-12.col-sm-offset-2
          h4 Древние племена
          p Тюрские народы заселяют территорию ульяновской области. Они называют эту территорию «Ун Дару» — десять лекарств, десять целебных факторов и средств.