section.honors
  .container
    .row
      .col-xs-12
        .heading
          h2 Наши награды
          p Наша компания ежегодно получает множество наград за развитие санаторно-курортных услуг в России.
    .tabs
      ul.tabs__caption
        li.active 2014
        li 2013
        li 2012
        li 2011
        li 2010
        li 2008
        li 2007
        li 2006
        li 2005
        li 2004
        li 2003
      .tabs__content.active
        .row
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-1.png" srcset="img/honors/honors-1@2x.png 2x, img/honors/honors-1@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-1.png" srcset="img/honors/honors-1@2x.png 2x, img/honors/honors-1@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-2.png" srcset="img/honors/honors-2@2x.png 2x, img/honors/honors-2@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-3.png" srcset="img/honors/honors-3@2x.png 2x, img/honors/honors-3@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-4.png" srcset="img/honors/honors-4@2x.png 2x, img/honors/honors-4@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-5.png" srcset="img/honors/honors-5@2x.png 2x, img/honors/honors-5@3x.png 3x")
      .tabs__content
        .row
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-1.png" srcset="img/honors/honors-1@2x.png 2x, img/honors/honors-1@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-2.png" srcset="img/honors/honors-2@2x.png 2x, img/honors/honors-2@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-1.png" srcset="img/honors/honors-1@2x.png 2x, img/honors/honors-1@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-3.png" srcset="img/honors/honors-3@2x.png 2x, img/honors/honors-3@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-4.png" srcset="img/honors/honors-4@2x.png 2x, img/honors/honors-4@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-5.png" srcset="img/honors/honors-5@2x.png 2x, img/honors/honors-5@3x.png 3x")
      .tabs__content
        .row
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-1.png" srcset="img/honors/honors-1@2x.png 2x, img/honors/honors-1@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-1.png" srcset="img/honors/honors-1@2x.png 2x, img/honors/honors-1@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-2.png" srcset="img/honors/honors-2@2x.png 2x, img/honors/honors-2@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-3.png" srcset="img/honors/honors-3@2x.png 2x, img/honors/honors-3@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-4.png" srcset="img/honors/honors-4@2x.png 2x, img/honors/honors-4@3x.png 3x")
          .col-xs-12.col-sm-4
            .tabs__content__block
              img(src="img/honors/honors-5.png" srcset="img/honors/honors-5@2x.png 2x, img/honors/honors-5@3x.png 3x")
