section.intro
  .container-fluid
    .row
      .col-xs-12
        .intro__logo
          img(src="img/logo-white-smile.svg")
  .intro__swiper
    .swiper-container.swiper-intro
      .swiper-wrapper
        .swiper-slide(style="background-image: url('img/bg-intro.png')")
          .swiper-slide__text
            h2 Уникальная минеральная вода
            p Аналогичная по составу минеральная вода есть только на курорте Трускавец, Украина и Карловы Вары, Чехия.
            +btn-transparent('Узнать подробности')
        .swiper-slide(style="background-image: url('img/bg-intro.png')")
          .swiper-slide__text
            h2 Уникальная минеральная вода
            p Аналогичная по составу минеральная вода есть только на курорте Трускавец, Украина и Карловы Вары, Чехия.
            a(href="#").btn.btn-transparent Узнать подробности
        .swiper-slide(style="background-image: url('img/bg-intro.png')")
          .swiper-slide__text
            h2 Уникальная минеральная вода
            p Аналогичная по составу минеральная вода есть только на курорте Трускавец, Украина и Карловы Вары, Чехия.
            a(href="#").btn.btn-transparent Узнать подробности
        .swiper-slide(style="background-image: url('img/bg-intro.png')")
          .swiper-slide__text
            h2 Уникальная минеральная вода
            p Аналогичная по составу минеральная вода есть только на курорте Трускавец, Украина и Карловы Вары, Чехия.
            a(href="#").btn.btn-transparent Узнать подробности
      .swiper-pagination.swiper-intro-pagination
    .swiper-button-next.swiper-intro-next
      i.icon.icon-right-arrow
    .swiper-button-prev.swiper-intro-prev
      i.icon.icon-left-arrow
  .intro__down
    span крутите
    img(src="img/mouse.svg")
    span колесо