section.license
  .container
    .row
      .col-xs-12
        .heading
          h2 Лицензии и сертификаты
          p Перечень необходимых для изучения документов, правила заявления и условия пребывания в наших санаториях.
      .col-xs-12
        .license__content
          .license__block
            img(src="img/honors/honors-1.png" srcset="img/honors/honors-1@2x.png 2x, img/honors/honors-1@3x.png 3x")
          .license__block
            img(src="img/honors/honors-2.png" srcset="img/honors/honors-2@2x.png 2x, img/honors/honors-2@3x.png 3x")
          .license__block
            img(src="img/honors/honors-3.png" srcset="img/honors/honors-3@2x.png 2x, img/honors/honors-3@3x.png 3x")
          .license__block
            img(src="img/honors/honors-4.png" srcset="img/honors/honors-4@2x.png 2x, img/honors/honors-4@3x.png 3x")
          .license__block
            img(src="img/honors/honors-5.png" srcset="img/honors/honors-5@2x.png 2x, img/honors/honors-5@3x.png 3x")
      .col-xs-12.center-xs
        a(href="#").btn.btn-sandy Все документы