section.medical-profile
  .container-fluid
    .tabs.medical-profile__menu
      .tabs__nav
        ul.tabs__caption.medical-profile__menu__caption
          li.active Профили
          li Программы лечения
          li Особенности
          li Медперсонал
          li Консультация
      .tabs__content.medical-profile__menu__content.active
        .tabs
          ul.tabs__caption
            li.active Эндокринология
            li Органы дыхания
            li Гинекология
            li Урология
            li Гастрэнторология
            li Сердечно-сосудистая система
            li Опорно-двигательный аппарат
            li Нервная система
          .tabs__content.medical-profile__content.active
            .heading
              h2 Лечебные профили
              p Курорт Ундоры входит в 18 уникальных курортов России (Методические указания Минздрава РФ №99/228 от 22.12.1999 г.). 
            .medical-profile__content__img
              img(src="img/medical-profile.png", alt="")
            p Медицинский персонал санатория помогает избавиться сотням пациентов не только от различных.
            p Но и органов дыхания и пищеварения, нервной и сердечно-сосудистой систем, гинекологических заболеваний и болезней органов мочеполовой системы и многих других.
            h3 Cанаторно-курортное лечение имеет ряд медицинских противопоказаний:
            ul
              li Заболевания в острой и подострой стадии, в том числе острые инфекционные заболевания до окончания периода изоляции.
              li Заболевания, передающиеся половым путем.
            .tags
              ul
                li
                  a(href="#") Ski Pass
                li
                  a(href="#") Горнолыжный курорт
                li
                  a(href="#") Мастер-класс
                li
                  a(href="#") Сноуборд
            .medical-profile__content__social
              span Поделитесь этим с друзьями:
              .medical-profile__content__social__block
                a(href="#")
                  i.icon.icon-vk
                a(href="#")
                  i.icon.icon-fb
                a(href="#")
                  i.icon.icon-ok
      .tabs__content