section.natural-factors
  .container
    .row
      .col-xs-12
        .heading
          h2 Природные факторы
          p Еще древние племена, населяющие территорию Ундоровского курорта, знали о волшебной силе здешней минеральной воды. Ведь с тюркского Ундоры переводится как «долина десяти лекарств».
  .container-fluid
    .row
      .col-sm-3.col-xs-6
        .natural-factors__block
          .natural-factors__block__img
            img(src="img/water.svg", alt="")
          p Минеральные воды
      .col-sm-3.col-xs-6
        .natural-factors__block
          .natural-factors__block__img
            img(src="img/solt.svg", alt="")
          p Соляные рассолы
      .col-sm-3.col-xs-6
        .natural-factors__block
          .natural-factors__block__img
            img(src="img/glinko.svg", alt="")
          p Глинолечение
      .col-sm-3.col-xs-6
        .natural-factors__block
          .natural-factors__block__img
            img(src="img/sun.svg", alt="")
          p Климатолечение