section.prices
  .container
    .row
      .col-xs-12
        .heading
          h2 Цены на услуги<br>в санатории им. В. И. Ленина
          p Регулярно в наших санаториях и домах отдыха проходят интересные акции. Советуем Вам ознакомиться со списком, чтобы не пропустить скидки и бонусы!
    .prices__content
      .tabs
        ul.tabs__caption
          li.active Медицинские услуги
          li Парикмахерские услуги
          li Косметический кабинет
          li Маникюр и педикюр
        .tabs__content.active
          h3 Женский зал
          .tabs__content__title
            h4 Стрижка модельная
          table
            tr
              td Короткие волосы
              td.coins 240 ₽
            tr
              td Средние волосы
              td.coins 270 ₽
            tr
              td Длинные волосы
              td.coins 300 ₽
            tr
              td Подравнивание по всей длине
              td.coins 150 ₽
            tr
              td Подравнивание чёлки
              td.coins 70 ₽
          .tabs__content__title
            h4 Стрижка модельная 2
          table
            tr
              td Короткие волосы
              td.coins 240 ₽
            tr
              td Средние волосы
              td.coins 270 ₽
            tr
              td Длинные волосы
              td.coins 300 ₽
            tr
              td Подравнивание по всей длине
              td.coins 150 ₽
            tr
              td Подравнивание чёлки
              td.coins 70 ₽
          .tabs__content__title
            p Наименование услуги
            p Стоимость
          table
            tr
              td Короткие волосы
              td.coins 240 ₽
            tr
              td Средние волосы
              td.coins 270 ₽
            tr
              td Индивидуальное занятие для детей до 14 лет
              td.coins
                p 500 ₽
                  span будни
                p  600 ₽
                  span выходные
            tr
              td Индивидуальное занятие для взрослых
              td.coins
                p 500 ₽
                  span будни
                p  1000 ₽
                  span выходные
            tr
              td Подравнивание чёлки
              td.coins 70 ₽
        .tabs__content
          h3 Женский зал
          .tabs__content__title
            h4 Стрижка модельная
          table
            tr
              td Короткие волосы
              td.coins 240 ₽
            tr
              td Средние волосы
              td.coins 270 ₽
            tr
              td Длинные волосы
              td.coins 300 ₽
            tr
              td Подравнивание по всей длине
              td.coins 150 ₽
            tr
              td Подравнивание чёлки
              td.coins 70 ₽
          .tabs__content__title
            h4 Стрижка модельная 2
          table
            tr
              td Короткие волосы
              td.coins 240 ₽
            tr
              td Средние волосы
              td.coins 270 ₽
            tr
              td Длинные волосы
              td.coins 300 ₽
            tr
              td Подравнивание по всей длине
              td.coins 150 ₽
            tr
              td Подравнивание чёлки
              td.coins 70 ₽
          .tabs__content__title
            p Наименование услуги
            p Стоимость
          table
            tr
              td Короткие волосы
              td.coins 240 ₽
            tr
              td Средние волосы
              td.coins 270 ₽
            tr
              td Длинные волосы
              td.coins 300 ₽
            tr
              td Подравнивание по всей длине
              td.coins 150 ₽
            tr
              td Подравнивание чёлки
              td.coins 70 ₽