section.resort-sanatoriums
  .container
    .row.middle-xs
      .col-xs-12
        .heading
          h2 Санатории Ундоровской курортной зоны
      .col-md-4.col-sm-5.col-xs-12
        .resort-sanatoriums__img
          img(src="img/18.svg", alt="")
      .col-md-8.col-sm-7.col-xs-12
        h4 Уникальность курорта
        p Курорт Ундоры входит в 18 уникальных курортов России. Единственный курорт России, где используются минеральные воды с высоким содержанием органических веществ, для лечения заболеваний желудочно-кишечного тракта и почек.
  .bg-line
  .container
    .row.middle-xs
      .col-md-8.col-sm-7.col-xs-12
        h4 Единственный в России
        p Вода с повышенным содержанием органических веществ до 13,84 мг/л (углеводород, кремниевая кислота, битумы, фенолы). Аналогичная по составу минеральная вода имеется только на курорте Трускавец, Украина и Карловы Вары, Чехия
      .col-md-4.col-sm-5.col-xs-12
        .resort-sanatoriums__img
          img(src="img/gerald.svg", alt="")