section.reviews
  .container
    .row
      .col-xs-12
        .heading
          h2 Довольные клиенты
          p Мы очень ценим мнение и отзывы наших посетителей и стараемся сделать наш сервис ещё лучше!
  .swiper
    .container
      .swiper-container.swiper-reviews
        .swiper-wrapper
          .swiper-slide
            .slide__img
              img(src="img/user.png", alt="")
            .slide__text
              h4 Марина Константинопольская
              span Санаторий имени Ленина, 2017
              p Лечение, питание превосходное. Местная природа, воздух восхитительная! Каждый день экскурсии, по вечерам развлекательные программы, на территории имеется очень хороший ресторан, кухня замечательная, обслуживание клиентов высший бал!
          .swiper-slide
            .slide__img
              img(src="img/user.png", alt="")
            .slide__text
              h4 Марина Константинопольская
              span Санаторий имени Ленина, 2017
              p Лечение, питание превосходное. Местная природа, воздух восхитительная! Каждый день экскурсии, по вечерам развлекательные программы, на территории имеется очень хороший ресторан, кухня замечательная, обслуживание клиентов высший бал!
          .swiper-slide
            .slide__img
              img(src="img/user.png", alt="")
            .slide__text
              h4 Марина Константинопольская
              span Санаторий имени Ленина, 2017
              p Лечение, питание превосходное. Местная природа, воздух восхитительная! Каждый день экскурсии, по вечерам развлекательные программы, на территории имеется очень хороший ресторан, кухня замечательная, обслуживание клиентов высший бал!
          .swiper-slide
            .slide__img
              img(src="img/user.png", alt="")
            .slide__text
              h4 Марина Константинопольская
              span Санаторий имени Ленина, 2017
              p Лечение, питание превосходное. Местная природа, воздух восхитительная! Каждый день экскурсии, по вечерам развлекательные программы, на территории имеется очень хороший ресторан, кухня замечательная, обслуживание клиентов высший бал!
      .swiper-button-next.swiper-reviews-next
        i.icon.icon-right-arrow
      .swiper-button-prev.swiper-reviews-prev
        i.icon.icon-left-arrow