section.room#room
  .container
    .room__conditions
      .row.middle-xs.center-xs
        .col-md-2.col-sm-3.col-xs-6
          .room__conditions__block
            .room__conditions__block__img
              img(src="img/room-conditions/wifi.svg")
            p Wi-Fi
        .col-md-2.col-sm-3.col-xs-6
          .room__conditions__block
            .room__conditions__block__img
              img(src="img/room-conditions/frige.svg").frige
            p Холодильник
        .col-md-2.col-sm-3.col-xs-6
          .room__conditions__block
            .room__conditions__block__img
              img(src="img/room-conditions/phone.svg")
            p Телефон
        .col-md-2.col-sm-3.col-xs-6
          .room__conditions__block
            .room__conditions__block__img
              img(src="img/room-conditions/pot.svg")
            p Чайник
        .col-md-2.col-sm-3.col-xs-6
          .room__conditions__block
            .room__conditions__block__img
              img(src="img/room-conditions/drier.svg")
            p Фен
        .col-md-2.col-sm-3.col-xs-6
          .room__conditions__block
            .room__conditions__block__img
              img(src="img/room-conditions/tv.svg")
            p Телевизор
    .room__block
      .room__block__content
        .heading.heading-secondary
          h2 Одноместные номера
          p Регулярно в наших санаториях и домах отдыха проходят интересные акции. Советуем Вам ознакомиться со списком, чтобы не пропустить скидки и бонусы!
        +btn-sandy('Цены от 3 150 ₽')(class="btn-sandy")