section.sanatoriums
  .container
    .row
      .col-sm-6.col-xs-12.center-xs
        .sanatoriums__block
          img(src="img/lenin.png", alt="")
          a.img
            img(src="img/sanatoriums/lenin.svg", alt="")
           a(href="#").btn.btn-sandy Узнать подробности
      .col-sm-6.col-xs-12.center-xs
        .sanatoriums__block
          img(src="img/lenin.png", alt="")
          a.img
            img(src="img/sanatoriums/lenin.svg", alt="")
           a(href="#").btn.btn-sandy Узнать подробности
      .col-sm-6.col-xs-12.center-xs
        .sanatoriums__block
          img(src="img/lenin.png", alt="")
          a.img
            img(src="img/sanatoriums/transfiguration.svg", alt="")
           a(href="#").btn.btn-sandy Узнать подробности
      .col-sm-6.col-xs-12.center-xs
        .sanatoriums__block
          img(src="img/lenin.png", alt="")
          a.img
            img(src="img/sanatoriums/white-yar.svg", alt="")
           a(href="#").btn.btn-sandy Узнать подробности
          
