section.sanatorium-Lenin
  .sanatorium-Lenin__content
    .container
      .heading.heading-secondary
        h2 Санаторий имени В. И. Ленина в Ульяновской области
        p Входит в состав курорта Ундоры. Eдинственный курорт в России, где используются минеральные воды с высоким содержанием органических веществ для лечения заболеваний желудочно-кишечного тракта и почек.
      form(action="").form
        .form__block
          .form__select.form__select-sanatorium
            span Санаторий
            i
            p
            select(name="day")
              option(value="1") Имени Ленина
              option(value="2") Имени Ленина-1
          .form__select.form__select-data
            span Дата заезда
            i
            p
            select(name="day")
              option(value="1") 10.03.2018
              option(value="2") 11.03.2018
          .form__select.form__select-days
            span Дней
            i
            p
            select(name="day")
              option(value="1") 12
              option(value="2") 11
          .form__select.form__select-people
            span Человек
            i
            p
            select(name="day")
              option(value="1") 2
              option(value="2") 4
        input(type="submit" value="Выбрать номер").btn.btn-sandy