section.special-offers
  .container
    .row.middle-xs.center-xs
      .col-xs-12
        .heading
          h2 Специальные предложения
          p Не пропустите наши спецаильные предложения. Обычно они ограничены по времени, но очень привлекательны!
  .swiper
    .container
      .swiper-container.swiper-special-offers
        .swiper-wrapper
          .swiper-slide
            .special-offers__block
              img(src="img/lenin.png", alt="")
              a.img
                h4 Ундоровские выходные!
                img(src="img/separation-line.svg", alt="")
                p Только с 23 февраля по 8 марта мы предлагаем Ski-pass на двоих с проживанием по вкусной цене.
              +btn-sandy('Узнать подробности')(class="btn-white")
          .swiper-slide
            .special-offers__block
              img(src="img/lenin.png", alt="")
              a.img
                h4 Снижение цен <br>на всю осень!
                img(src="img/separation-line.svg", alt="")
                p Этой осенью в нашем санатории снижение цен на все процедуры от 10 до 25%
              +btn-sandy('Узнать подробности')(class="btn-white")
          .swiper-slide
            .special-offers__block
              img(src="img/lenin.png", alt="")
              a.img
                h4 Ундоровские выходные!
                img(src="img/separation-line.svg", alt="")
                p Только с 23 февраля по 8 марта мы предлагаем Ski-pass на двоих с проживанием по вкусной цене.
              +btn-sandy('Узнать подробности')(class="btn-white")
          .swiper-slide
            .special-offers__block
              img(src="img/lenin.png", alt="")
              a.img
                h4 Снижение цен <br>на всю осень!
                img(src="img/separation-line.svg", alt="")
                p Этой осенью в нашем санатории снижение цен на все процедуры от 10 до 25%
              +btn-sandy('Узнать подробности')(class="btn-white")
      .swiper-button-next.swiper-special-offers-next
          i.icon.icon-right-arrow
      .swiper-button-prev.swiper-special-offers-prev
        i.icon.icon-left-arrow