section.ulyanovsk
  .container
    .row
      .col-xs-12.center-xs
        img(src="img/logo-white.svg").logo
      .col-xs-12
        .heading.heading-secondary
          h2 Скучать будет некогда!
          p Устроить ваш досуг помогут отличный горнолыжный комплекс, конюшня, множество интересных экскурсий и рыбалка.
      .col-xs-12.rel
        .ulyanovsk__content
          .bg-line.bg-line-ulyanovsk-2
          .row
            .col-xs-6
              .ulyanovsk__block
                img(src="img/ulyanovsk/animation.png" srcset="img/ulyanovsk/animation@2x.png 2x, img/ulyanovsk/animation@3x.png 3x")
                h3 Анимация
                p Независимо от степени вашей подготовки мы стараемся доставить вам радость от общения с природой и лошадьми.
            .col-xs-6
              .ulyanovsk__block
                img(src="img/ulyanovsk/snow.png" srcset="img/ulyanovsk/snow@2x.png 2x, img/ulyanovsk/snow@3x.png 3x")
                h3 Анимация
                p Независимо от степени вашей подготовки мы стараемся доставить вам радость от общения с природой и лошадьми.
          .bg-line.bg-line-ulyanovsk
          .row
            .col-xs-6
              .ulyanovsk__block
                img(src="img/ulyanovsk/dino.png" srcset="img/ulyanovsk/dino@2x.png 2x, img/ulyanovsk/dino@3x.png 3x")
                h3 Анимация
                p Независимо от степени вашей подготовки мы стараемся доставить вам радость от общения с природой и лошадьми.
            .col-xs-6
              .ulyanovsk__block
                img(src="img/ulyanovsk/horse.png" srcset="img/ulyanovsk/horse@2x.png 2x, img/ulyanovsk/horse@3x.png 3x")
                h3 Анимация
                p Независимо от степени вашей подготовки мы стараемся доставить вам радость от общения с природой и лошадьми.
          .bg-line.bg-line-ulyanovsk
          .row
            .col-xs-6
              .ulyanovsk__block
                img(src="img/ulyanovsk/dino.png" srcset="img/ulyanovsk/dino@2x.png 2x, img/ulyanovsk/dino@3x.png 3x")
                h3 Анимация
                p Независимо от степени вашей подготовки мы стараемся доставить вам радость от общения с природой и лошадьми.
            .col-xs-6
              .ulyanovsk__block
                img(src="img/ulyanovsk/horse.png" srcset="img/ulyanovsk/horse@2x.png 2x, img/ulyanovsk/horse@3x.png 3x")
                h3 Анимация
                p Независимо от степени вашей подготовки мы стараемся доставить вам радость от общения с природой и лошадьми.