.video
  .container
    .row
      .col-xs-12
        //- svg(xmlns="http://www.w3.org/2000/svg" width="945" height="270" viewBox="0 0 945 270")
        //-   mask(id="mask-1")
        //-     use(xlink:href="#mask")
        //-   path(fill="#000" id="mask" fill-rule="nonzero" d="M0 250V20c11.046 0 20-8.954 20-20h905c0 11.046 8.954 20 20 20v230c-11.046 0-20 8.954-20 20H20c0-11.046-8.954-20-20-20z")
        .video__block
          img(src="img/video.png", alt="")
          a(href="#") 
            i.icon.icon-play
            .video__block__text
              span Посмотрите видео
              p Уникальность курортов Ульяновской области