section.working-profiles
  .container
    .row.middle-xs.center-xs
      .col-xs-12
        .heading
          h2 Лечебные профили
          p Единственные в России по своему минеральному составу источники лечебной минеральной воды. По своему составу похоже на Карловы Вары в Чехии. 
    .swiper
      .swiper-container.swiper-working-profiles
        .swiper-wrapper
          .swiper-slide
            .working-profiles__block
              img(src="img/medical-profiles/koja.svg")
              p Болезни кожи, аллергозы, псориаз
          .swiper-slide
            .working-profiles__block
              img(src="img/medical-profiles/endocrinolog.svg")
              p Эндокринологические заболевания
          .swiper-slide
            .working-profiles__block
              img(src="img/medical-profiles/legkie.svg")
              p Болезни органов дыхания
          .swiper-slide
            .working-profiles__block
              img(src="img/medical-profiles/ginekolog.svg")
              p Гинекологические заболевания
          .swiper-slide
            .working-profiles__block
              img(src="img/medical-profiles/jeludok.svg")
              p Гастроэнторологические заболевания
          .swiper-slide
            .working-profiles__block
              img(src="img/medical-profiles/serdce.svg")
              p Сердечно-сосудистые заболевания
          .swiper-slide
            .working-profiles__block
              img(src="img/medical-profiles/serdce.svg")
              p Сердечно-сосудистые заболевания
          .swiper-slide
            .working-profiles__block
              img(src="img/medical-profiles/pochki.svg")
              p Урологические заболевания
          .swiper-slide
            .working-profiles__block
              img(src="img/medical-profiles/skelet.svg")
              p Опорно-двигательный аппарат
          .swiper-slide
            .working-profiles__block
              img(src="img/medical-profiles/neuro.svg")
              p Заболевания нервной системы
    .working-profiles__desctop
      .row
        .col-xs-4.center-xs
          .working-profiles__block
            img(src="img/medical-profiles/koja.svg")
            p Болезни кожи, аллергозы, псориаз
        .col-xs-4.center-xs
          .working-profiles__block
            img(src="img/medical-profiles/endocrinolog.svg")
            p Эндокринологические заболевания
        .col-xs-4.center-xs
          .working-profiles__block
            img(src="img/medical-profiles/legkie.svg")
            p Болезни органов дыхания
        .col-xs-4.center-xs
          .working-profiles__block
            img(src="img/medical-profiles/ginekolog.svg")
            p Гинекологические заболевания
        .col-xs-4.center-xs
          .working-profiles__block
            img(src="img/medical-profiles/jeludok.svg")
            p Гастроэнторологические заболевания
        .col-xs-4.center-xs
          .working-profiles__block
            img(src="img/medical-profiles/serdce.svg")
            p Сердечно-сосудистые заболевания
        .col-xs-4.center-xs
          .working-profiles__block
            img(src="img/medical-profiles/pochki.svg")
            p Урологические заболевания
        .col-xs-4.center-xs
          .working-profiles__block
            img(src="img/medical-profiles/skelet.svg")
            p Опорно-двигательный аппарат
        .col-xs-4.center-xs
          .working-profiles__block
            img(src="img/medical-profiles/neuro.svg")
            p Заболевания нервной системы

