.btn
  width: 260px
  height: 50px
  font-family: 'Anglecia Pro Title'
  font-size: 20px
  font-weight: 500
  +center
  &-transparent
    color: $white
    background: url('../img/button-inline.svg')
    background-repeat: no-repeat
    background-size: 100% 100%
    border-radius: 7px
  &-sandy
    background: $sandy
    color: $mud-brown
  &-white