html
body
  font-size: 24px
  font-family: 'Anglecia Pro Text'
  font-size: 24px
  // -webkit-text-size-adjust: 100%
  // -ms-text-size-adjust: 100%
  // -webkit-font-smoothing: antialiased !important
  // text-rendering: optimizelegibility
  // -moz-osx-font-smoothing: grayscale
  box-sizing: border-box
*
  margin: 0
  padding: 0
body.no-scroll
  overflow: hidden
.container
  width: 100% !important
  max-width: 950px
  box-sizing: border-box
  +r(1024)
    padding: 0 15px
.container-two
  width: 100% !important
  max-width: 1170px
  box-sizing: border-box
  margin: 0 auto
  padding-right: 2rem
  padding-left: 2rem
  +r(1024)
    padding: 0 15px
a
  text-decoration: none
  transition: all 0.3s
.heading
  +center-column
  h2
    font-family: 'Anglecia Pro Title'
    font-size: 60px
    font-weight: 500
    text-align: center
    color: $mud-brown
    margin-bottom: 10px
    +r(767)
      font-size: 24px
  p
    font-family: 'Anglecia Pro Text'
    font-size: 24px
    font-weight: 300
    line-height: 1.25
    text-align: center
    color: $mud
    max-width: 750px
    +r(767)
      font-size: 18px
    a
      color: $dark-sky-blue
      display: inline-block
  &-secondary
    h2
      color: $white
    p
      color: $white
.bg-line
  width: 100%
  background: url('../img/separation-line-mini.svg')
  background-position: 50% 0
  height: 7px
  margin-top: 85px
  margin-bottom: 65px
  &--clay
    margin: 0
    background: $very-light-pink url('../img/separation-line-mini.svg')
  &-ulyanovsk
    background: url('../img/separation-line-mini-blue.svg')
    margin: 0
    background-position: 50% 0
    +r(767)
      display: none
  &-ulyanovsk-2
    background: url('../img/separation-line-mini-blue.svg')
    margin: 0
    background-position: 50% 0
    position: absolute
    left: 50%
    top: 44.3%
    width: 140%
    transform: translate(-50%, -50%) rotate(90deg)
    +r(767)
      display: none
.tags
  ul
    +center
    flex-wrap: wrap
    max-width: 900px
    margin: 0 auto
    a
      border-radius: 6px
      background-color: #f6efe5
      padding: 10px 15px
      font-family: 'SF Pro Display'
      font-size: 16px
      line-height: 1.25
      color: $mud
      margin-right: 10px
      display: block
      margin-bottom: 10px
      border: 1px solid $white
      &:hover
        border: solid 1px $sandy
      &:active
        background-color: $sandy
      +r(767)
        font-size: 14px
  .all-tags
    font-family: 'SF Pro Display'
    font-size: 16px
    line-height: 1.25
    color: $dark-sky-blue
    display: block
    +center
    margin-top: 10px
    margin-bottom: 70px
    text-align: center

.checkbox
  input
    display: none
  input + label
    font-size: 18px
    line-height: 1.33
    color: $sand
    position: relative
    font-family: 'Anglecia Pro Text'
    padding-left: 40px
    display: block
    +r(767)
      font-size: 16px
    a
      color: $dark-sky-blue
  input + label:before
    content: '\EA03'
    width: 30px
    height: 30px
    border-radius: 6px
    position: absolute
    left: 0
    border: 1px solid $sand
    display: flex
    top: -8px
    font-family: 'iconfont'
    font-size: 12px
    justify-content: center
    align-items: center
    color: transparent
    +r(767)
      font-size: 8px
      width: 20px
      height: 20px
      top: -3px
  input:checked + label:before
    color: $sand



.selectize-input
  background: none
  border: none
  box-shadow: none
  border-bottom: 2px solid $sandy
  padding: 0
  padding-bottom: 3px
  transition: all 0.3s
  border-radius: 0
  &:after
    transition: all 0.3s
  &.input-active
    box-shadow: none
  input
    display: none !important
.selectize-dropdown
  border: 1px solid $sandy
  border-top: none
.selectize-input>*, .selectize-dropdown [data-selectable]
  font-size: 24px
  font-weight: 300
  line-height: 1.25
  color: $mud
  +r(767)
    font-size: 18px
.selectize-dropdown .active
  background: $sandy
  color: $mud-brown